/* Add CSS Styling */

.odd {
    background-color: #f393ad;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#second {
    color: #24309c;
    font-size: 36px;
}
.third {
    font-size: 24px;
}
#fourth {
    background-color: #92de77;
    font-size: 24px;
    font-weight: bold;
}